<% layout('layout/boilerplate') %>
<% if(currentUser.username == employee.username) {%>
<div class="container d-flex justify-content-center mt-5 mb-3">
    <div class="card shadow" style="width: 25rem;">
        <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2017/04/password-protect-wordpress.jpg" alt=""
            class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Reset Password</h5>
            <form action="/<%=currentUser._id%>/reset" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="password">Enter New Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="repassword">Re-Enter New Password</label>
                    <input class="form-control" type="password" id="repassword" name="repassword" required>
                </div>
                <div class="d-grid ">
                    <button class="btn btn-success btn-block">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
<% } %>